<web-app>
    <!--<servlet>-->
    <!--<servlet-name>EchoServlet</servlet-name>-->
    <!--<servlet-class>ru.job4j.webstructure.EchoServlet</servlet-class>-->
    <!--<load-on-startup>10</load-on-startup>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
    <!--<servlet-name>EchoServlet</servlet-name>-->
    <!--<url-pattern>/echo</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
    <!--<servlet-name>UsersServlet</servlet-name>-->
    <!--<servlet-class>ru.job4j.crud.UsersServlet</servlet-class>-->
    <!--<load-on-startup>0</load-on-startup>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
    <!--<servlet-name>UsersServlet</servlet-name>-->
    <!--<url-pattern>/user</url-pattern>-->
    <!--</servlet-mapping>-->

    <servlet>
        <servlet-name>GetUsersController</servlet-name>
        <servlet-class>ru.job4j.userapp.GetUsersController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetUsersController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUsersController</servlet-name>
        <servlet-class>ru.job4j.userapp.AddUsersController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddUsersController</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateUsersController</servlet-name>
        <servlet-class>ru.job4j.userapp.UpdateUsersController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateUsersController</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoveUsersController</servlet-name>
        <servlet-class>ru.job4j.userapp.RemoveUsersController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>RemoveUsersController</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
</web-app>
