<web-app>
    <!--<servlet>-->
    <!--<servlet-name>EchoServlet</servlet-name>-->
    <!--<servlet-class>ru.job4j.webstructure.EchoServlet</servlet-class>-->
    <!--<load-on-startup>10</load-on-startup>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
    <!--<servlet-name>EchoServlet</servlet-name>-->
    <!--<url-pattern>/echo</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
    <!--<servlet-name>UsersServlet</servlet-name>-->
    <!--<servlet-class>ru.job4j.crud.UsersServlet</servlet-class>-->
    <!--<load-on-startup>0</load-on-startup>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
    <!--<servlet-name>UsersServlet</servlet-name>-->
    <!--<url-pattern>/user</url-pattern>-->
    <!--</servlet-mapping>-->

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.job4j.userapp.servlets.AuthFilter</filter-class>
        <load-on-startup>0</load-on-startup>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>GetUsersController</servlet-name>
        <servlet-class>ru.job4j.userapp.servlets.GetUsersController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetUsersController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUsersController</servlet-name>
        <servlet-class>ru.job4j.userapp.servlets.AddUsersController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddUsersController</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateUsersController</servlet-name>
        <servlet-class>ru.job4j.userapp.servlets.UpdateUsersController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateUsersController</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoveUsersController</servlet-name>
        <servlet-class>ru.job4j.userapp.servlets.RemoveUsersController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>RemoveUsersController</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SigninController</servlet-name>
        <servlet-class>ru.job4j.userapp.servlets.SigninController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>SigninController</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignoutController</servlet-name>
        <servlet-class>ru.job4j.userapp.servlets.SignoutController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignoutController</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>
</web-app>
