<web-app>
    <servlet>
        <servlet-name>ListItemsController</servlet-name>
        <servlet-class>ru.job4j.hibernate.controllers.ListItemsController
        </servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListItemsController</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveItemController</servlet-name>
        <servlet-class>ru.job4j.hibernate.controllers.RemoveItemController
        </servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveItemController</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddItemController</servlet-name>
        <servlet-class>ru.job4j.hibernate.controllers.AddItemController
        </servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddItemController</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditItemController</servlet-name>
        <servlet-class>ru.job4j.hibernate.controllers.EditItemController
        </servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditItemController</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
</web-app>
