<web-app>
    <servlet>
        <servlet-name>ListPostsController</servlet-name>
        <servlet-class>ru.job4j.controllers.ListPostsController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListPostsController</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddPostController</servlet-name>
        <servlet-class>ru.job4j.controllers.AddPostController</servlet-class>
        <load-on-startup>0</load-on-startup>
        <multipart-config>
            <!--<location>/tmp</location>-->
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPostController</servlet-name>
        <url-pattern>/postad</url-pattern>
    </servlet-mapping>
</web-app>