<!doctype html>
<html data-framework="vue">
<head>
    <meta charset="utf-8">
    <title>Cars sales' platform</title>
    <link rel="stylesheet" href="index.css">
    <style>     [v-cloak] {
        display: none;
    } </style>
</head>
<body>
<header>
    <div>
        <nav class="header-nav">
            <ul class="toolbar">
                <li class="header-nav-postad">
                    <a href="postad" class="btn-header">
                        <span class="btn-header-txt">Post an ad</span>
                    </a>
                </li>
                <li class="header-nav-login">
                    <a href="login"
                       class="header-nav-link">Login/Register</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<section class="carsalesapp">
    <section class="main" v-show="posts.length" v-cloak>
        <ul class="post-list">
            <li v-for="post in filteredPosts"
                class="post"
                :key="post.id"
                :class="{ isActive: post.isActive }">
                <article class="view">
                    <div class="article-wrapper">
                        <div class="post-pic">
                            <div class="post-thumbnail">
                                <img :src="post.pictures[0]
                                    ? 'pic?post=' + post.id + '&pic=' + post.pictures[0]
                                     : './assets/noimage_thumbnail.png'"
                                     :alt="post.car.carModel.manufacture.name">
                            </div>
                        </div>
                        <div class="post-content">
                            <h2 class="post-title">{{
                                post.car.carModel.manufacture.name }} {{
                                post.car.carModel.name }}</h2>
                            <p class="post-description">{{ post.content }}</p>
                            <ul class="post-attributes">
                                <li>
                                <span
                                    class="car-year">{{ post.car.year }}</span>
                                    <span
                                        class="car-mileage">{{ post.car.mileage }} km</span>
                                    <span
                                        class="car-fuel">{{ post.car.fuel.description }}</span>
                                    <span
                                        class="car-enginesize">{{ post.car.engineSize }} cc</span>
                                    <span
                                        class="car-body">{{ post.car.body.description }}</span>
                                    <span
                                        class="car-category">{{ post.car.category.description }}</span>
                                    <span
                                        class="car-transmission">{{ post.car.transmission.description }}</span>
                                </li>
                            </ul>
                            <span class="post-price">
                            <strong
                                class="h3-responsive">&#36;{{ post.price }}</strong>
                        </span>
                        </div>

                        <input class="toggle" type="checkbox"
                               v-model="post.isActive" @click="carSold(post)">
                    </div>
                </article>
            </li>
        </ul>
    </section>
</section>
<script src="node_modules/vue/dist/vue.js"></script>
<script async src="js/app.js"></script>
</body>
</html>