<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">
            org.hsqldb.jdbcDriver
        </property>
        <property name="connection.username">sa</property>
        <property name="connection.password"/>
        <property name="connection.url">
            jdbc:hsqldb:mem:sales_car_platform_test;sql.enforce_size=false
        </property>
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">create</property>
        <property name="hbm2ddl.import_files">
            liquibase/sql/20180513-1-init.sql,
            liquibase/sql/20180513-2-insert-dictionaries.sql
        </property>
        <mapping resource="ru/job4j/model/car/parts/Body.hbm.xml"/>
        <mapping resource="ru/job4j/model/car/parts/Category.hbm.xml"/>
        <mapping resource="ru/job4j/model/car/parts/Fuel.hbm.xml"/>
        <mapping resource="ru/job4j/model/car/parts/Manufacture.hbm.xml"/>
        <mapping resource="ru/job4j/model/car/parts/CarModel.hbm.xml"/>
        <mapping resource="ru/job4j/model/car/parts/Transmission.hbm.xml"/>
        <mapping resource="ru/job4j/model/car/Car.hbm.xml"/>
        <mapping resource="ru/job4j/model/Role.hbm.xml"/>
        <mapping resource="ru/job4j/model/User.hbm.xml"/>
        <mapping resource="ru/job4j/model/Picture.hbm.xml"/>
        <mapping resource="ru/job4j/model/Post.hbm.xml"/>
    </session-factory>
</hibernate-configuration>