<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.job4j.filters.AuthFilter</filter-class>
        <load-on-startup>0</load-on-startup>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>SigninController</servlet-name>
        <servlet-class>ru.job4j.controllers.SigninController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>SigninController</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignoutController</servlet-name>
        <servlet-class>ru.job4j.controllers.SignoutController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignoutController</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUsersController</servlet-name>
        <servlet-class>ru.job4j.controllers.AddUsersController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddUsersController</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetUsersController</servlet-name>
        <servlet-class>ru.job4j.controllers.GetUsersController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetUsersController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoveUsersController</servlet-name>
        <servlet-class>ru.job4j.controllers.RemoveUsersController
        </servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>RemoveUsersController</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateUsersController</servlet-name>
        <servlet-class>ru.job4j.controllers.UpdateUsersController
        </servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateUsersController</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

</web-app>