<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">
            org.postgresql.Driver
        </property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password"/>
        <property name="hibernate.connection.url">
            jdbc:postgresql://localhost:5432/sales_car_platform
        </property>
        <property name="hibernate.dialect">
            org.hibernate.dialect.PostgreSQL94Dialect
        </property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <mapping resource="ru/job4j/model/car/parts/Body.hbm.xml"/>
        <mapping resource="ru/job4j/model/car/parts/Category.hbm.xml"/>
        <mapping resource="ru/job4j/model/car/parts/Fuel.hbm.xml"/>
        <mapping resource="ru/job4j/model/car/parts/Manufacture.hbm.xml"/>
        <mapping resource="ru/job4j/model/car/parts/CarModel.hbm.xml"/>
        <mapping resource="ru/job4j/model/car/parts/Transmission.hbm.xml"/>
        <mapping resource="ru/job4j/model/car/Car.hbm.xml"/>
        <mapping resource="ru/job4j/model/Role.hbm.xml"/>
        <mapping resource="ru/job4j/model/User.hbm.xml"/>
        <mapping resource="ru/job4j/model/Picture.hbm.xml"/>
        <mapping resource="ru/job4j/model/Post.hbm.xml"/>
    </session-factory>
</hibernate-configuration>